@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');
.page {
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 343px;
    background: url("../../img/banner_mobile.svg") no-repeat center;
    background-size: cover;
    align-items: center;
}
.bannerText{
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;

color: #FFFFFF;
}
.bannerTextP{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    margin-top: 32px;

    color: #FFFFFF;

}
@media (min-width: 450px) {
    .banner {
        background: url("../../img/banner.svg") no-repeat left;
        background-size: cover;
    }
}
.mainBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.productList{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 32px;

}
.headText{
    font-family: 'Raleway', italic;
    font-size: 48px;
    margin-top: 107px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    
}
.ourProductDiv{
    width: 100%;
    margin: 0 auto;
}
.productBasket{
    margin-top: 99px;
    position: relative;
}
.basketText{
    font-family: 'Raleway', italic;
    font-size: 48px;
}
.basketDivMain{
    
    margin-top: 221px;
    margin-left: 40px;
    color: #ffff;
    width: 50%;
}
.basketTextP{
    margin-top: 32px;
    width:85%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}
.butChooseProduct{
    width: 252px;
    height: 48px;
    background-color: var(--brandColor);
    border-color: #ffff;
    color: #ffff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 48px;
}
.butChooseProduct:hover {
    background: #fffF;
    color: var(--brandColor);
    border-color: var(--brandColor);

}
.butChooseProduct:active {
    scale: 0.95;
}
.fermersDiv{
    margin-top: 32px;
    width: 100%;
}
.fermersText{
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
}
.fermersCards{
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.imgPG{
    
    width: 100vw;
    height: 736px;
    margin-top: 100px;
    
}