.page {
    padding: 0 104px;
}

.divBannerMain{
}
.divBannerChild{
    position: relative;
    width: 100%;
}
.mainBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}